table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:hover {
  background-color: #dddddd;
  opacity: 0.7;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  text-align: center;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  ;
}


button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.create_apiary {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 5px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}
.modal-content-create {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 0px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}
.button_create {
  width: auto;
  padding: 10px 18px;
  background-color: #4CAF50;
}
/* The Close Button (x) */
.close {

  float:right;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
div.but_logout{
  float:right;
  width:auto;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.content {
  display: flex;
}

.horizontal {
  flex-direction: row;
  justify-content: center;
}

.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.card h3 {
  padding: 4px;
  background-color: #4CAF50;
  color: white;
}

.card h4 {
  color: black;
}

.button {
  max-width: 180px;
}

.h1 {
  position: relative;
  min-width: 180px;
  padding: 10px 18px; 
  background-color: #f0c60b; 
  text-align: center;
  display: inline-block;
}

.button1 {
  width: 180px;
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  margin: 8px;
  border: none;
}