<div id="air-quality-form" class="create_apiary">
  <div class="modal-content animate">
    <div class="imgcontainer">
      <div>
        <span onclick="document.getElementById('air-quality-form').style.display='none'" class="close"
          title="Close Modal">&times;</span>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="content vertical">
        <img src="images/ava.jpg" alt="Avatar" class="responsive">
        <div class="content horizontal">
          <div class="margin-4">
            <label for=" code postal : "><b>code postal :</b></label><br>
            <input type=" text" placeholder="position of apiary" value="" id="postal_code_elem" required>
          </div>
          <div class="margin-4">
            <label for="Date_init : "><b>Date Init</b></label> <br>
            <input type="date" value="" id="date_elem" required> <br> <br>
          </div>
          <div class="margin-4">
            <button type="button" onclick="updateAirData()" class="button1">Get</button>
          </div>
        </div>
      </div>
      <table id="air_table_elem">
        <!-- here goes our data! -->
      </table>

    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('air-quality-form').style.display='none'"
        class="cancelbtn">Cancel</button>
    </div>
  </div>
</div>
<script>
  async function getAirData(postalCode, date) {
    const ret = await fetch('/api/v1/air?' + new URLSearchParams({
      postalCode: postalCode,
      date: date
    }))
    return ret.json()
  }

  async function updateAirData() {
    // clear data

    // get air data
    const postalCode = document.getElementById('postal_code_elem').value
    const date = document.getElementById('date_elem').value
    if (!postalCode || postalCode === '') {
      return
    }
    res = await getAirData(postalCode, date)
    updateAirTable(res)
  }

  function generateTableHead(table, data) {
    let thead = table.createTHead();
    let row = thead.insertRow();
    for (let key of data) {
      let th = document.createElement("th");
      let text = document.createTextNode(key);
      th.appendChild(text);
      row.appendChild(th);
    }
  }

  function generateTable(table, data) {
    for (let element of data) {
      let row = table.insertRow();
      for (key in element) {
        let cell = row.insertCell();
        let text = document.createTextNode(element[key]);
        cell.appendChild(text);
      }
    }
  }

  function updateAirTable(data) {
    let table = document.getElementById('air_table_elem')
    table.innerHTML = '';
    if (!data || data.length === 0) {
      return
    }
    let columns = Object.keys(data[0]);
    generateTableHead(table, columns);
    generateTable(table, data);
  }
</script>