<div id="conseil-form" class="create_apiary">
    <div class="modal-content animate">
        <div class="imgcontainer">
            <div>
                <span onclick="document.getElementById('conseil-form').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
            </div>
        </div>
        <br>
        <form class="modal-content-create animate" action="" method="post">

            <div class="container " style="background-color:#f1f1f1">
                <div class="content horizontal">
                    <h1 class="h1">Nos Conseils</h1>
                </div>
                <div class="content horizontal">
                    <input class="button1" type="button" onclick="window.location.href = 'installation';"
                        value="Installation de la ruche" />
                    <input class="button1" type="button" onclick="window.location.href = 'predateurs';"
                        value="Prédateurs et maladies" />
                    <input class="button1" type="button" onclick="window.location.href = 'recolte';"
                        value="Récolte du miel" />
                </div>
                <br>
                <button type="button" onclick="document.getElementById('conseil-form').style.display='none'"
                    class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>
</div>