<div id="history-form" class="create_apiary">
    <div class="modal-content animate">
      <div class="imgcontainer">
        <div>
          <span onclick="document.getElementById('history-form').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        </div>
      </div>
      <br>
      <form class="modal-content-create animate" action="" method="post">
        <div class="container">
         

        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="submit" class="button_create" name="submit" value="Submit">Create</button>
          <button type="button" onclick="document.getElementById('history-form').style.display='none'"
            class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>
  </div>