<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href='style.css' />
</head>

<body>
  <div class="content vertical">
    <img src="images/bee.jpg" alt="Avatar" style="width:200px;height:200px;">
    <h1 class="h1"> BEES GO </h1>
  </div>
  <div class="content horizontal">
    <div class="card">
      <h3>Poids</h3>
      <h4 id="weight_elem"></h4>
    </div>
    <div class="card">
      <h3>Temperature</h3>
      <h4 id="temperature_elem"></h4>
    </div>
  </div>

  <div class="tableau de bord">

  </div>

  <div class="content vertical">
    <button class="button" onclick="showForm('air-quality-form')">QUALITE DE L'AIR</button>
    <button class="button" onclick="showForm('history-form')">HISTORIQUE</button>
    <button class="button" onclick="showForm('cadre-form')">CADRE</button>
    <button class="button" onclick="showForm('prevision-form')">PREVISION</button>
    <button class="button" onclick="showForm('conseil-form')">CONSEIL</button>
  </div>
  {% include 'air-quality-form.html' %}
  {% include 'history-form.html' %}
  {% include 'cadre-form.html' %}
  {% include 'prevision-form.html' %}
  {% include 'conseil-form.html' %}
  <script>
    function showForm(formId) {
      document.getElementById(formId).style.display = 'block'

    }

    function updateElementById(id, value) {
      const elem = document.getElementById(id)
      if (elem) {
        elem.textContent = value;
      }
    }

    async function getInfo() {
      const ret = await fetch('api/v1/info')
      const res = await ret.json()
      updateElementById('temperature_elem', res.temperature)
      updateElementById('weight_elem', res.weight)
    }

    setInterval(() => {
      getInfo()
    }, 2000)

  </script>
</body>

</html>