<!DOCTYPE html>
<html>

<head>
    <title>Installation</title>
    <link rel="stylesheet" href='style.css' />
</head>

<body>
    <div class="content horizontal">
        <h3 class="h1">Installation de la ruche</h3>

    </div>
    <p> Choisir un emplacement dégagé c’est-à-dire loin des arbres, l’idéal est d’installer votre ruche
        près d’une haie assez haute pour protéger celle-ci des aléas météorologiques.
    </p>
    <br>
    <p>
        Éviter les endroits où il y a beaucoup de vent, d’humidité et de brouillard. Une exposition
        sud-sud serait idéale.
    </p>
    <br>
    <p>
        Une astuce pour faciliter l’évacuation de déchets et de l’humidité liée à la condensation est
        de placer la ruche en hauteur et légèrement inclinée vers l’avant. Tout cela vous permettra
        de préserver les abeilles de l'humidité.
    </p>
    <br>
    <p>
        Garantir la tranquillité de la ruche en la plaçant dans un endroit calme et peu fréquenté.
        Toute collision sur la trajectoire d'envol peut être interprétée comme une agression.
    </p>
    <br>
    <p>
        Prévoir un garde-manger car une abeille butine environ 700 fleurs par jour. Il faut donc
        s’assurer qu'il y aura assez de fleurs et de plantes dans un périmètre de trois kilomètres
        autour de la ruche.
    </p>
    <br>
    <p>
        Installer un point d’eau. Une colonie a besoin d’environ 50 litres d’eau pendant la saison
        estivale donc l’emplacement d’un abreuvoir près de la ruche serait un bon moyen pour
        leur éviter de parcourir plusieurs kilomètres pour l'abreuvoir.
    </p>
    <br>
    <p>
        Vérifier la réglementation de la ruche quant à son installation auprès d’une municipalité ou d’une
        préfecture.
    </p>
    <br>
    <p>
        Déclarer sa ruche afin d’obtenir un numéro d’apiculteur. Il faut également assurer sa ruche selon
        l’article 1385 du code civil: : "Le propriétaire d'un animal ou celui qui s'en sert, pendant qu'il est
        sous son usage, est responsable du dommage que l'animal a causé, soit que l'animal soit sous
        sa garde, soit qu'il fût égaré ou échappé."
    </p>
</body>

</html>