<!DOCTYPE html>
<html>

<head>
    <title>predateurs</title>
    <link rel="stylesheet" href='style.css' />
</head>

<body>
    <div class="content horizontal">
        <h3 class="h1">Prédateurs et maladies</h3>
    </div>
   


    <p> <b>frelon asiatique</b><br>
        Très présent dans le sud de la France, le frelon asiatique est l’un des prédateurs les plus
        féroces de l’abeille. Il est nécessaire de vérifier régulièrement les ruches et les alentours.
    </p>
    <br>
    <p>
    <b> Le guêpier d'Europe</b><br>
        Présent dans les régions méditerranéennes. Le guêpier sévit dans les régions
        méditerranéennes et s'attaque aux reines à l'extérieur du rucher. À l'intérieur, il stoppe
        l'activité des abeilles. Il peut être utile d’utiliser des affolants et les changer régulièrement
        pour éviter l'accoutumance.
    </p><br>
    <p>
        Le pic-vert dérange les abeilles lorsqu'elles hivernent, en frappant bien fort avec son bec
        pour atteindre leur nid. Posez un sac plastique fixé sur le corps de la ruche pour l'empêcher
        de s'y agripper.
    </p><br>
    <p>
        La mouffette nuit sérieusement aux abeilles. Elle gratte la façade de la ruche pour faire sortir
        les abeilles et les dévorer en grande quantité. Avec le temps, la colonie s'affaiblit et devient
        agressive.
    </p><br>
    <p>
        Les fourmis pénètrent les ruches sur un sol sablonneux ou dans une région boisée. Elles se
        nourrissent de miel et de pollen et nidifient dans les endroits chauds et secs. Pas très
        menaçantes. Pensez à débroussailler autour du rucher.
    </p>

</body>

</html>