<!DOCTYPE html>
<html>

<head>
    <title>Prédateurs et Maladies</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-center">
        <h1 class="h1">Prédateurs et Maladies</h1>
    </div>
    <p></p>
    <div class=" w3-container w3-khaki" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Frelon asiatique:</b><br>
            Très présent dans le sud de la France, le frelon asiatique est l’un des prédateurs les plus
            féroces de l’abeille. Il est nécessaire de vérifier régulièrement les ruches et les alentours.
        </h4>
    </div>
    <p></p>
    <div class=" w3-container w3-pale-yellow" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b> Le guêpier d'Europe:</b><br>
            Présent dans les régions méditerranéennes. Le guêpier sévit dans les régions
            méditerranéennes et s'attaque aux reines à l'extérieur du rucher. À l'intérieur, il stoppe
            l'activité des abeilles. Il peut être utile d’utiliser des affolants et les changer régulièrement
            pour éviter l'accoutumance.e ruche
            près d’une haie assez haute pour protéger celle-ci des aléas météorologiques.
        </h4>
    </div>
    <p></p>
    <div class=" w3-container w3-sand" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Le pic-vert:</b><br>
            Il dérange les abeilles lorsqu'elles hivernent, en frappant bien fort avec son bec
            pour atteindre leur nid. Posez un sac plastique fixé sur le corps de la ruche pour l'empêcher
            de s'y agripper.
        </h4>
    </div>
    <p></p>
    <div class=" w3-container w3-light-grey" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>La mouffette:</b><br>Elle nuit sérieusement aux abeilles. Elle gratte la façade de la ruche pour faire sortir
            les abeilles et les dévorer en grande quantité. Avec le temps, la colonie s'affaiblit et devient
            agressive.
</div>
    <p></p>
    <div class=" w3-container w3-khaki" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Les fourmis:</b><br>Elles pénètrent les ruches sur un sol sablonneux ou dans une région boisée. Elles se
            nourrissent de miel et de pollen et nidifient dans les endroits chauds et secs. Pas très
            menaçantes. Pensez à débroussailler autour du rucher.
        </h4>
    </div>
    <p></p>
</body>

</html>