<!DOCTYPE html>
<html>

<html>

<head>
    <title>Récolte du Miel</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-center">
        <h1 class="h1">Récolte du Miel</h1>
    </div>
    <p></p>
    <div class=" w3-container w3-khaki" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Le retrait des hausses peut se faire à l'aide de:</b><br>
            - un enfumoir et une brosse à abeilles légèrement mouillée <br>
            - un chasse-abeilles posé la veille au soir : technique sans risque de coulée de miel<br>
            - un aspirateur à abeilles (niveau professionnel) : limite les pillages et fait couler moins de miel<br>
            - un produit répulsif : convient aux colonies très agressives, mais pas très conseillé.
        </h4>
    </div>
    <p></p>
    <div class=" w3-container w3-pale-yellow" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Quand récolter les hausses:</b><br>
            Il n'y a pas de date fixe pour la récolte des hausses. Tout dépend de l'emplacement des ruchers et
            des plantes ciblées.
            <br>
            Néanmoins, des hausses entièrement operculées annoncent que le miel est enfin mûr, et qu'il est
            temps de le récolter. Dans le cas contraire, il reste instable, parce que trop chargé en eau. Dépassés
            les délais, le miellat apparaitra et il vous sera difficile pour ne pas dire impossible de l'extraire, même
            avec un extracteur.
            <br>

            Vous pouvez procéder à la récolte des hausses soit avant le lever du soleil, à l'heure où les abeilles
            sont encore à l'intérieur des ruches, ou par une journée bien ensoleillée, en début d'après-midi, les
            ruches sont presque vides, vu que les butineuses sont déjà parties travailler.
        </h4>
    </div>
    <p></p>
    <div class=" w3-container w3-sand" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Prudence en sécurité:</b><br>
            Pensez à bien vous protéger avant de commencer la récolte des hausses de votre rucher.
            Munissez-vous de gants, vareuse et enfumoir .
            <br>
            Évitez de vous affoler ou de paniquer. En dépit de l'agressivité des abeilles, continuez à récolter les
            hausses avec des gestes rapides, doux, et précis.
            <br>
            Ne tentez pas des actions imprudentes, au risque de menacer la sécurité de vos voisins qui
            pourraient subir les attaques d'une colonie d'abeilles en colère.
        </h4>
    </div>
    <p></p>
    <div class=" w3-container w3-light-grey" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Nourrir ses abeilles:</b><br>
            Une fois les hausses vidées, pensez à nourrir tout de suite vos abeilles au sirop. Une astuce qui vous
            aidera à les calmera pendant quelque temps.
            N'oubliez pas non plus de laisser assez de nourriture dans la ruche pour assurer la survie de la
            colonie.
        </h4>
    </div>
    <p></p>
    <div class=" w3-container w3-khaki" style="padding:50px 300px">
        <h4 class=" w3-justify">
            <b>Les dernières abeilles:</b><br>
            Pour vous débarrasser d'éventuelles abeilles encore présentes à l'intérieur des hausses, de retour à
            la miellerie, munissez-vous d'une lampe. Sa lumière vous aidera à les capter.
        </h4>
    </div>
    <p></p>
</body>

</html>